- content_for :header do
  %h1 Listing posts

- content_for :footer do
  = link_to 'New post', new_post_path, 'data-icon' => 'plus', 'data-role' => 'button'


%ul{:data => {:role => "listview"}}
  - @posts.each do |post|
    %li
      = link_to post.title, post
      = link_to 'edit post', edit_post_path(post), 'data-icon' => 'gear'
      