%div{:data => {:role => "header"}}
  %h1 Listing posts
  = link_to 'Add', new_post_path, "data-icon" => "plus", "class" => "ui-btn-right"


%div{:data => {:role => "content"}}
  %ul{"data-role" => "listview"}
    - @posts.each do |post|
      %li
        = link_to post.title, post
        = link_to 'edit post', edit_post_url(post), "data-icon" => "gear"
        
